html {
  font-size: 62.5%;
}

.col-1-of-2 {
  width: 50rem;
  padding: 10rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  top: 2rem;
  right: 0;
}
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.text-wish{
    color: deeppink;
    font-size: 27px;
    font-weight: 100;
    padding:0px 50px 0px 600px;
}