:root {
    --neon: white;
    --neon-h: #16deeb;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    min-width: 600px;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
    user-select: none;
}
.main{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    background-image: url("https://github.com/ricardoolivaalonso/recursos/blob/master/arrow/back.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px) grayscale(100%) contrast(100%);
    transition: .3s linear;
}
.cube{
    width: 980px;
    height: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1200px) translateZ(-400px) rotateY(0deg);
    transition: .1s linear;
    z-index: 1000;
    top:10px;
}
.cube__txt{
    width: 100%;
    position: absolute;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px rgba(0 , 0, 0, .1);
    transform: translateZ(25px);

}
.cube__bg{
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    filter: hue-rotate(20deg);
    cursor: pointer;
    box-shadow: 0 0 60px rgba(0 , 0, 0, .25);
}
.cube__bg:hover {
    transform: scale(1.025);
    transition: .2s linear;
}
.cube__bg:hover ~ .cube__txt {
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
}
.cube__back{
    transform: rotateY(0deg) translateZ(-1000px);
}
.cube__right{
    transform: rotateY(-.17turn)  translateZ(-1000px);
    transform-origin: center;
}
.cube__left{
    transform: rotateY(.17turn)  translateZ(-1000px);
    transform-origin: center;
}
.control{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 3000;
}
.text-wish{
    color: darkorange;
    font-size: 20px;
    font-weight: 100px;
    padding: 300px 50px 0px 50px;
}